@{
    ViewData["Title"] = "Home Page";
}
<main>
    <img class="w-100 rounded" src="/img/banner-test.jpg" alt="">
    <img style="width: 15em; height: 18em; object-fit: cover; z-index: 1; margin-top: -10em;" class="rounded img-fluid ms-3 me-3"
         src="/img/White Book Store Minimalist Logo.png" alt="logo">
    <button type="button" class="btn btn-outline-warning me-3 active">
        <i class="fa-solid fa-square-plus p-2"></i>
        Add to Library
    </button>
    <button type="button" class="btn btn-outline-warning me-3 "><i class="fa-solid fa-book p-2"></i>Start Reading</button>
    <button type="button" class="btn btn-outline-warning me-3 ">
        <i class="fa-regular fa-paper-plane p-2"></i>Continue
        Reading
    </button>
    <div class="container">
        <p class="fs-4 mt-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
    <div class="container">
        <div class="btn-group p-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-warning btn-lg active ">Chapter</button>
            <button type="button" class="btn btn-outline-warning btn-lg">Relate</button>
        </div>
    </div>
    <!-- card -->
    <div class="container mt-5 ml-5">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body ">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                        <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Column1</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                        <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Column1</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                        <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Column1</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                        <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Column1</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                        <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Column1</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                        <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Column1</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                        <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Column1</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                        <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Column1</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 col-3 mx-auto">
                <button class="btn btn-warning btn-lg mb-4 mt-3">SHOW MORE</button>
            </div>
</main>
