@model Yomikaze.Application.Data.Models.Common.ChapterModel


<a asp-controller="Chapter" asp-action="Index" asp-route-id="@Model.Id" class="text-decoration-none ">
    <div class="p-3 mb-2 rounded-pill border border-secondary border-1 shadow-sm">
        <span class="fw-bold text-dark me-4">@Model.Title</span>
        <span class="text-muted ">@Model.Description</span>
        <span class="text-black-50 float-end">
            <i class="fa-regular fa-clock"></i>
            <span class="ms-2"></span>
        </span>
    </div>
</a>