<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container-fluid">
            <img class="nav-logo" src="~/img/logo-dark.png" alt="logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active fs-5" aria-current="page" href="#">
                            <span class="text-light">yomi</span><span class="text-warning">kaze</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown d-flex justify-content-center align-items-center">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Genres
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- <li><a class="dropdown-item" href="#">Genres</a></li> -->
                            <li><a class="dropdown-item text-light" href="#">List</a></li>
                            <li><a class="dropdown-item text-light" href="#">Hot</a></li>
                            <li><a class="dropdown-item text-light" href="#">History</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->
                </ul>
                <form class="d-flex col-4 mx-auto">
                    <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning text-light" type="submit">Search</button>
                </form>
            </div>
            <div class="d-flex justify-content-center">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <div class="container min-vh-100">
        <main role="main" class="py-3">
            @RenderBody()
        </main>
    </div>
    @* footer *@
    <footer class="text-center text-lg-start bg-secondary text-muted">
        <div class="text-light text-center p-4">
            Copyright © 
            @DateTime.Now.Year
            <a class="text-light text-decoration-none" href="/">Yomikaze</a>
        </div>
    </footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>