@page
@model Yomikaze.Web.Pages.TestSignalModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<ul id="list">

</ul>

@section Scripts {
    <script>
        let list = $("list");
        let connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:5179/hubs/yomikaze").build();
        connection.on("Comment", (event, data) => {
            console.log(event);
            console.log(data);
            list.appendChild(`<li>${data}</li>`);
        });
        connection.start().then(() => {
            console.log("connected");
        });
    </script>

}
