@{
    ViewData["Title"] = "Home Page";
}
    <h2 class="text-center mt-5 text-warning">Register</h2>
    <div class="container mt-2 pt-5">
        <div class="row ">
            <div class="col-12 col-sm-6 col-md-4 m-auto rounded bg-secondary">
                <form action="#">
                    <div class="row mt-2">
                        <div class="col-6">
                            <input type="text" name="" id="" class="form-control mt-4" placeholder="First Name">
                        </div>
                        <div class="col-6">
                            <input type="text" name="" id="" class="form-control mt-4" placeholder="Last Name">
                        </div>
                    </div>
                    <input type="text" name="" id="" class="form-control mt-3 " placeholder="Email">
                    <input type="text" name="" id="" class="form-control mt-3 " placeholder="Username">
                    <input type="text" name="" id="" class="form-control mt-3 " placeholder="Password">
                    <input type="text" name="" id="" class="form-control mt-3 " placeholder="Confirm Password">
                    <div class="form-check mt-4 mx-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <div class="row">
                            <label class="form-check-label mb-4 text-light" for="defaultCheck2">
                                Remember password.
                                @* <a class="mx-3 text-lighttext-decoration-none text-light" href="#">Forgot password?</a> *@
                            </label>
                        </div>
                    </div>
                    <div class="text-center mb-4">
                        <button class="btn me-12 col-12 mb-4 text-light btn-warning" type="button">Register</button>
@*                         <span class="mx-2 text-light">You don't have account?<a class="mx-3 text-light text-decoration-none" href="#">Register here!</a></span> *@
                    </div>

                </form>
            </div>
        </div>
    </div>
    </div>