<!DOCTYPE html>
<html lang="en"
      :data-theme="theme"
      x-data="theme">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - yomikaze</title>
    <link rel="icon" type="image/svg+xml" href="~/favicon.svg">
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/feather/css/feather.min.css"/>
    <script defer src="~/lib/alpinejs/persist/dist/cdn.min.js"></script>
    <script defer src="~/lib/alpinejs/cdn.min.js"></script>
</head>
<body class="bg-base-100 text-base-content overflow-x-hidden">
<header>
    <nav class="navbar bg-base-200"  x-data="{ authenticated: $store.auth.authenticated }">
        <div class="navbar-start gap-2">
            <a class="btn btn-ghost gap-2 text-xl text-white hover:bg-transparent" asp-page="Index">
                <img alt="logo" class="w-12 h-12" src="~/favicon.svg">
                <div class="font-title text-primary inline-flex text-lg transition-all duration-200 md:text-3xl">
                    <span class="text-base-content lowercase">yomi</span>
                    <span class="lowercase">kaze</span>
                </div>
            </a>
            <button x-on:click="nextTheme()" aria-label="Theme switcher" class="btn btn-ghost btn-circle"
                    th:fragment="theme-switcher">
                <i :data-feather="themeIcon" class="text-xl text-base-content" aria-hidden="true"></i>
            </button>
        
       
            <a asp-page="/Genres" class="btn btn-ghost">
                <i data-feather="grid" class="text-base-content" aria-hidden="true"></i>
                Genres
            </a>
            <a asp-page="/AdvancedSearch" class="btn btn-ghost">
                <i data-feather="search" class="text-base-content" aria-hidden="true"></i>
                Advanced Search
            </a>
            <template x-if="authenticated">
                <div class="contents">
                    <a asp-page="/History" class="btn btn-ghost">
                        <i data-feather="clock" class="text-base-content" aria-hidden="true"></i>
                        History
                    </a>
                    <a asp-page="/Library" class="btn btn-ghost">
                        <i data-feather="book" class="text-base-content" aria-hidden="true"></i>
                        Library
                    </a>
                </div>
            </template>
            <template x-if="!authenticated">
                <div class="contents">
                    <dialog x-ref="reqAuth" class="modal">
                        <div class="modal-box">
                            <h3 class="modal-title">Authentication Required</h3>
                            <p class="py-4">You need to be signed in to access this feature.</p>
                            <div class="modal-action">
                                <form method="dialog">
                                    <button class="btn">Close</button>
                                </form>
                                <a asp-page="/SignIn" class="btn btn-primary">Sign In</a>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </div>
                    </dialog>
                
                    <button class="btn btn-ghost" x-on:click="$refs.reqAuth.showModal()">
                        <i data-feather="clock" class="text-base-content" aria-hidden="true"></i>
                        History
                    </button>
                    <button class="btn btn-ghost" x-on:click="$refs.reqAuth.showModal()">
                        <i data-feather="book" class="text-base-content" aria-hidden="true"></i>
                        Library
                    </button>
                </div>
            </template>
        </div>
        
        <div class="navbar-end gap-2">
            <label class="input input-bordered flex items-center gap-2">
                <i data-feather="search" class="text-base-content" aria-hidden="true"></i>
                <input type="text" placeholder="Search" class="w-50" x-ref="search" 
                       x-on:keydown.esc="$el.value = ''; $el.blur()"
                       x-on:keydown.enter="window.location.href = `/Search?query=${$el.value}`"
                       x-on:keydown.window.prevent.ctrl.k="$el.focus()"
                       />
                <kbd class="kbd kbd-sm">Ctrl</kbd>
                <span class="text-base-content">+</span>
                <kbd class="kbd kbd-sm">K</kbd>
            </label>
            <template x-if="authenticated">
                <details class="dropdown dropdown-end" x-data="{ profile: null, name: null, username: null }" 
                         x-init="profile = await $store.auth.getProfile(); name = profile?.fullname; username = profile?.userName"
                         >
                    <summary class="btn btn-circle avatar">
                        <div class="w-10 rounded-full ring ring-neutral ring-offset-base-100 ring-offset-2">
                            <img alt="Avatar"
                                 src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"
                                 :src="profile?.avatar"/>
                        </div>
                    </summary>
                    <ul class="mt-3 z-[1] p-2 shadow menu menu-md dropdown-content bg-base-100 rounded-box w-52">
                        <li class="menu-title"
                            x-text="`Welcome ${name || username || 'User'}`">
                            Welcome User
                        </li>
                        <li>
                            <a>
                                <i data-feather="user" class="text-base-content" aria-hidden="true"></i>
                                Profile
                            </a>
                        </li>
                            <li>
                                <a asp-page="Genre">
                                    <i data-feather="genre" class="text-base-content" aria-hidden="true"></i>
                                    Manage Genres
                                </a>
                            </li>
                        <li>
                            <a>
                                <i data-feather="settings" class="text-base-content" aria-hidden="true"></i>
                                Settings
                            </a>
                        </li>
                        <li>
                            <a x-on:click="$store.auth.logout()">
                                <i data-feather="log-out" class="text-base-content" aria-hidden="true"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </details>
            </template>
            <template x-if="!authenticated">
                <div class="contents">
                    <a class="btn btn-accent" asp-page="/SignIn">Sign In</a>
                    <a class="btn btn-success" asp-page="/SignUp">Sign Up</a>
                </div>
            </template>
        </div>
    </nav>
</header>
<div class="max-w-screen w-full bg-base-100">
    <main role="main" class="w-10/12 mx-auto min-h-[calc(100vh-4.5rem)] py-8">
        @RenderBody()
    </main>
    <button x-on:click="window.scrollTo({top: 0, behavior: 'smooth'})" 
            x-on:scroll.window="scroll = document.documentElement.scrollTop > 20" 
            aria-label="Back to top" 
            class="fixed bottom-7 right-5 btn btn-circle btn-accent shadow-md" 
            id="btn-back-to-top" type="button" 
            x-data="{scroll : document.documentElement.scrollTop > 20}" 
            x-show="scroll"
            x-transition:enter="transition ease-out duration-300" 
            x-transition:enter-end="opacity-100 transform scale-100" 
            x-transition:enter-start="opacity-0 transform scale-90" 
            x-transition:leave="transition ease-in duration-300" 
            x-transition:leave-end="opacity-0 transform scale-90" 
            x-transition:leave-start="opacity-100 transform scale-100">
        <i aria-hidden="true" data-feather="arrow-up"></i>
    </button>
</div>

<footer class="footer footer-center p-10 bg-base-200 text-base-content">
  <aside>
    <img src="~/favicon.svg" alt="logo" class="w-16 h-16">
    <p class="text-md">YOMIKAZE <br> Copyright &copy; <span x-text="new Date().getFullYear()">2024</span> All rights reserved.</p>
  </aside> 
  <div>
    <div class="grid grid-flow-col gap-4 text-xl">
        <a href="https://discord.gg">
            <i data-feather="message-square" class="fill-current"></i>
        </a>
        <a href="https://github.com">
            <i data-feather="github" class="fill-current"></i>
        </a>
        <a href="mailto:yomikaze.org@gmail.com">
            <i data-feather="mail" class="fill-current"></i>
        </a>
    </div>
  </div>
</footer>
<script src="~/lib/axios/axios.min.js"></script>
<script src="~/js/site.js"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>