<!DOCTYPE html>
<html lang="en"
      :data-theme="theme"
      x-data="theme">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - yomikaze</title>
    <link rel="icon" type="image/svg+xml" href="~/favicon.svg">
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/feather/css/feather.min.css"/>
    <script defer src="~/lib/alpinejs/persist/dist/cdn.min.js"></script>
    <script defer src="~/lib/alpinejs/cdn.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <!-- Preload fonts -->
    <link rel="preload" href="~/lib/feather/font/feather.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="~/lib/feather/font/feather.ttf" as="font" type="font/ttf" crossorigin>
</head>
<body class="bg-base-100 text-base-content overflow-x-hidden">
@await RenderSectionAsync("AlpineScripts", false)
<header>
    <nav class="navbar bg-base-200" x-data="{ authenticated: $store.auth.authenticated }">
        <div class="navbar-start gap-2">
            <a class="btn btn-ghost gap-2 text-xl text-white hover:bg-transparent" asp-page="/Index">
                <img alt="logo" class="w-12 h-12" src="~/favicon.svg">
                <div class="font-title text-primary inline-flex text-lg transition-all duration-200 md:text-3xl">
                    <span class="text-base-content lowercase">yomi</span>
                    <span class="lowercase">kaze</span>
                </div>
            </a>
            <button x-on:click="nextTheme()" aria-label="Theme switcher" class="btn btn-ghost btn-circle"
                    th:fragment="theme-switcher">
                <i :data-feather="themeIcon" class="text-xl text-base-content" aria-hidden="true"></i>
            </button>


            <a asp-page="/Genres" class="btn btn-ghost">
                <i data-feather="grid" class="text-base-content" aria-hidden="true"></i>
                Genres
            </a>
            <a asp-page="/AdvancedSearch" class="btn btn-ghost">
                <i data-feather="search" class="text-base-content" aria-hidden="true"></i>
                Advanced Search
            </a>
            <template x-if="authenticated">
                <div class="contents">
                    <a asp-page="/History" class="btn btn-ghost">
                        <i data-feather="clock" class="text-base-content" aria-hidden="true"></i>
                        History
                    </a>
                    <a asp-page="/Library" class="btn btn-ghost">
                        <i data-feather="book" class="text-base-content" aria-hidden="true"></i>
                        Library
                    </a>
                </div>
            </template>
            <template x-if="!authenticated">
                <div class="contents">
                    <dialog x-ref="reqAuth" class="modal">
                        <div class="modal-box">
                            <h3 class="modal-title">Authentication Required</h3>
                            <p class="py-4">You need to be signed in to access this feature.</p>
                            <div class="modal-action">
                                <form method="dialog">
                                    <button class="btn">Close</button>
                                </form>
                                <a asp-page="/SignIn" class="btn btn-primary">Sign In</a>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </div>
                    </dialog>

                    <button class="btn btn-ghost" x-on:click="$refs.reqAuth.showModal()">
                        <i data-feather="clock" class="text-base-content" aria-hidden="true"></i>
                        History
                    </button>
                    <button class="btn btn-ghost" x-on:click="$refs.reqAuth.showModal()">
                        <i data-feather="book" class="text-base-content" aria-hidden="true"></i>
                        Library
                    </button>
                </div>
            </template>
        </div>
        
        <div class="navbar-end gap-2">
            <partial name="_InlineSearchPartial"/>
            <partial name="_LoginPartial"/>
        </div>
    </nav>
</header>
<div class="max-w-screen w-full bg-base-100">
    <main role="main" class="w-10/12 mx-auto min-h-[calc(100vh-4.5rem)] py-8">
        @RenderBody()
    </main>
    <partial name="_BackToTopPartial"/>
</div>

<footer class="footer footer-center p-10 bg-base-200 text-base-content">
    <aside>
        <img src="~/favicon.svg" alt="logo" class="w-16 h-16">
        <p class="text-md">YOMIKAZE <br> Copyright &copy; <span x-text="new Date().getFullYear()">2024</span> All rights reserved.</p>
    </aside>
    <div>
        <div class="grid grid-flow-col gap-4 text-xl">
            <a href="https://discord.gg">
                <i data-feather="message-square" class="fill-current"></i>
            </a>
            <a href="https://github.com">
                <i data-feather="github" class="fill-current"></i>
            </a>
            <a href="mailto:yomikaze.org@gmail.com">
                <i data-feather="mail" class="fill-current"></i>
            </a>
        </div>
    </div>
</footer>
<script src="~/lib/axios/axios.min.js"></script>
<script src="~/js/site.js"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>