@page "/Comics/{comicId}/Chapters/{index}"
@model ChapterModel


<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('chapter', () => ({
            index: '@Model.Index',
            comicId: '@Model.ComicId',

            auth: null,
            client: null,

            chapterDetails: [],
            pages: [],


            init() {
                this.auth = Alpine.store('auth');
                this.client = this.auth.http;

                this.getPages();

            },


            async getPages() {

                await this.client.get(`/API/Comics/${this.comicId}/Chapters/${this.index}`)
                    .then(response => this.chapterDetails = response.data)
                    .catch(error => {

                        if (error.response.status === 404) {
                            window.location.href = '/404';
                        }
                        console.error('Error while fetching comic details', error);
                        return null;
                    });

                this.pages = this.chapterDetails.pages;

            },

            prevChapter() {
                return `/Comics/${this.comicId}/Chapters/${this.chapterDetails.index - 1}`;

            },

            nextChapter() {
                return `/Comics/${this.comicId}/Chapters/${this.chapterDetails.index + 1}`;
            }



        }));
    });

</script>

<div x-data="chapter">
    <div class="max-w-screen w-full min-h-[calc(100vh-8rem)] bg-base-100">
        <div class="w-10/12 mx-auto py-10">
            <!--preload-->
            @* <link as="image" rel="preload" href="/asset/image/loading.svg" type="image/svg+xml"> *@
            <p class="p-8 text-center">
                <a class="link text-lg font-bold" href="/comic/292236210020175872/detail">new</a>
                <span class="text-gray-500">::</span>
                <span class="text-gray-500">Chapter 2</span>
            </p>
            <div class="mb-12 pb-8 flex flex-col items-center">

                <template x-for="page in pages">
                    <div class="w-full max-w-xl">
                        <img alt="page.Id" class="object-contain object-center mx-auto" :src="page.image">
                        @* <img alt="0" class="object-contain object-center mx-auto my-12" src="/asset/image/loading.svg" > *@
                    </div>
                </template>

            </div>

            <div class="bottom-2 sticky btm-nav btm-nav-sm rounded-box shadow-2xl bg-base-300 border border-dashed border-neutral">
                <div class="px-2 flex flex-row gap-4">
                    <button type="button" class="btn btn-sm btn-circle btn-neutral hover:btn-accent focus:btn-accent active:btn-accent" x-on:click="window.location.href = prevChapter()">
                        <i data-feather="chevron-left"></i>
                    </button>
                    <label>
                        <select x-onchange="window.location.href = $el.dataset.path + $el.value" class="select select-sm select-accent grow sm:w-full sm:max-w-sm" data-path="/comic/292236210020175872/chapter/">

                            <option value="0" disabled="disabled" selected="selected">
                                Chapter 2
                            </option>

                            <option value="1">
                                Chapter 1
                            </option>
                        </select>
                    </label>
                    <button type="button" class="btn btn-sm btn-circle btn-neutral hover:btn-accent focus:btn-accent active:btn-accent" x-on:click="window.location.href = nextChapter()">
                        <i data-feather="chevron-right"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>