@page "/Comics/{comicId}/Chapters/{index}"
@model ChapterModel


<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('chapter', () => ({
            index: '@Model.Index',
            comicId: '@Model.ComicId',

            auth: null,
            client: null,

            chapterDetails: [],
            chapters: [],
            pages: [],


            init() {
                this.auth = Alpine.store('auth');
                this.client = this.auth.http;

                this.getPages();
                this.fetchChapters();

            },
            
            async fetchChapters() {
                let url = new URL(`/API/OData/Chapters/`, window.location.origin);
                url.searchParams.set('$filter', `ComicId eq '${this.comicId}'`);
                url.searchParams.set('$orderby', 'Index asc');
                this.chapters = await this.client.get(url)
                    .then(response => response.data.value)
                    .catch(error => { console.error(error); return []; });
            },


            async getPages() {

                await this.client.get(`/API/Comics/${this.comicId}/Chapters/${this.index}`)
                    .then(response => this.chapterDetails = response.data)
                    .catch(error => {

                        if (error.response.status === 404) {
                            window.location.href = '/404';
                        }
                        console.error('Error while fetching comic details', error);
                        return null;
                    });

                this.pages = this.chapterDetails.pages;

            },

            prevChapter() {
                return `/Comics/${this.comicId}/Chapters/${this.chapterDetails.index - 1}`;

            },

            nextChapter() {
                return `/Comics/${this.comicId}/Chapters/${this.chapterDetails.index + 1}`;
            }



        }));
    });

</script>

<div x-data="chapter">
    <div class="max-w-screen w-full min-h-[calc(100vh-8rem)] bg-base-100">
        <div class="w-10/12 mx-auto py-10">
            <!--preload-->
            <link as="image" rel="preload" href="~/loading.svg" type="image/svg+xml">
            <div class="mb-12 pb-8 flex flex-col items-center">

                <template x-for="page in pages">
                    <div class="w-full max-w-[800px]" x-data="{ loaded: false }">
                        <img alt="a" x-on:load="setTimeout(() => loaded = true, 250)" x-show="loaded" 
                             x-transition:enter="transition ease-out duration-300" 
                             x-transition:enter-start="opacity-0 transform scale-95" 
                             x-transition:enter-end="opacity-100 transform scale-100" 
                             class="object-contain object-center mx-auto" :src="page.image">
                        <img alt="0" class="object-contain object-center mx-auto my-12" src="~/loading.svg"
                                x-show="!loaded"
                             />
                    </div>
                </template>

            </div>

            <div class="bottom-2 sticky btm-nav btm-nav-sm rounded-box shadow-2xl bg-base-300 border border-dashed border-neutral">
                <div class="px-2 flex flex-row gap-4">
                    <button type="button" class="btn btn-sm btn-circle btn-neutral hover:btn-accent focus:btn-accent active:btn-accent" x-on:click="window.location.href = prevChapter()">
                        <i data-feather="chevron-left"></i>
                    </button>
                    <label>
                        <select x-on:change="window.location.href = $el.dataset.path + $el.value" class="select select-sm select-accent grow sm:w-full sm:max-w-sm" data-path="/Comics/@Model.ComicId/Chapters/">

                            <option value="0" disabled="disabled" selected="selected">
                                Chapter 2
                            </option>

                            <option value="1">
                                Chapter 1
                            </option>
                        </select>
                    </label>
                    <button type="button" class="btn btn-sm btn-circle btn-neutral hover:btn-accent focus:btn-accent active:btn-accent" x-on:click="window.location.href = nextChapter()">
                        <i data-feather="chevron-right"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>