@page
@model _404

@{
    ViewData["Title"] = "404";
}

<div class="hero min-h-screen">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <i data-feather="alert-triangle" class="w-16 h-16 text-warning text-8xl"></i>
            <h1 class="text-5xl font-bold">Page Not Found</h1>
            <p class="py-6">
                The page you are looking for does not exist. How you got here is a mystery. But you can click the button below to go back to the homepage.
            </p>
            <a asp-page="/Index" class="btn btn-primary">Back to home</a>
        </div>
    </div>
</div>