@{
    ViewData["Title"] = "Home Page";
}
    <div class="container">
        <h2 class="text-center mt-5 text-warning">Reset Password</h2>
    </div>
    <div class="container mt-2 pt-5">
        <div class="row ">
            <div class="col-12 col-sm-6 col-md-4 m-auto rounded bg-secondary">
                <form action="#">
                    <input type="text" name="" id="" class="form-control mt-5 mb-3" placeholder="Password">
                    <input type="text" name="" id="" class="form-control  mb-3" placeholder="Confirm Password">
                    <div class="text-center mb-4">
                        <button class="btn me-12 col-12 mb-4 text-light btn-warning" type="button">SEND</button>
                        <div class="text justify-content-md-end">
                        <label for="">Remembered your password?<a class="text-dark text-decoration-none mx-1" href="">Sign In</a></label>
                        <label for="">Don't have an account?<a class="text-dark text-decoration-none mx-1" href="">Sign Up</a></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
