@{
    ViewData["Title"] = "Home Page";
}
    <nav class="mt-5 mx-5 fs-5" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item "><a class="text-dark text-decoration-none fw-bolder" href="#">Home</a></li>
        <li class="breadcrumb-item"><a class="text-dark text-decoration-none fw-bolder" href="#">Genres</a></li>
        <li class="breadcrumb-item"><a class="text-dark text-decoration-none fw-bolder" href="#">History</a></li>
        </ol>
    </nav>
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                    <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Đây là truyện</a>
                        <p>Lịch sử đã xem</p>
                        <p>--/--/----</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                    <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Đây là truyện</a>
                        <p>Lịch sử đã xem</p>
                        <p>--/--/----</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                    <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Đây là truyện</a>
                        <p>Lịch sử đã xem</p>
                        <p>--/--/----</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                    <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Đây là truyện</a>
                        <p>Lịch sử đã xem</p>
                        <p>--/--/----</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                    <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Đây là truyện</a>
                        <p>Lịch sử đã xem</p>
                        <p>--/--/----</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                    <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Đây là truyện</a>
                        <p>Lịch sử đã xem</p>
                        <p>--/--/----</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                    <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Đây là truyện</a>
                        <p>Lịch sử đã xem</p>
                        <p>--/--/----</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
                <div class="card">
                    <div class="card-body">
                        <img src="/img/logo-dark.png" class="w-100" alt="">
                    <a href="#" class="card-link text-dark text-decoration-none fw-bolder">Đây là truyện</a>
                        <p>Lịch sử đã xem</p>
                        <p>--/--/----</p>
                    </div>
                </div>
            </div>
