@using Yomikaze.Application.Data.Models.Common;
@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ComicModel>
<!-- card -->
<div class="container mt-5 mb-5">
    <h1>HOT <i class="fa-solid fa-chevron-right"></i></h1>
    <div class="row">
        @foreach (var comic in Model)
        {
            // use partial view
            Html.RenderPartial("_ComicCardPartial", comic);
        }
    </div>
</div>